<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="primary">TO DO</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)=" openAddData() ">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label></ion-label>
      <ion-select [(ngModel)]="filter" end>
        <ion-option value="TODO">TO DO</ion-option>
        <ion-option value="DONE">COMPLETED</ion-option>
        <ion-option value="ALL">ALL</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="editMode">
      <ion-input type="text" placeholder="할일을 기록하세요 !" [(ngModel)]="newValue" (keypress)="keypressNewData($event)"></ion-input>
      <!-- <button ion-button color="primary" clear item-right (click)="addData()">SAVE</button> -->
    </ion-item>
    <ion-item-sliding *ngFor=" let data of dataArr | todoFilter:filter; let i = index ">
      <ion-item>
        <ion-label>{{data.value}}</ion-label>
        <!-- <p>{{data.desc}}</p> -->
        <ion-checkbox [(ngModel)]="data.completed" (click)=" completeData(data.key,data.completed) "></ion-checkbox>
      </ion-item>
      <ion-item-options>
        <button ion-button item-left color="danger" (click)=" deleteData(data.key) ">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div class="div_content">
    <p *ngIf="!dataArr.length">할일이 없네요 :)</p>
  </div>
</ion-content>