<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button class="bar_btn_padding" ion-button icon-only (click)="dismiss(null)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>소식기록</ion-title>
    <ion-buttons end>
      <button class="bar_btn_padding" ion-button icon-only (click)="saveData()">
        저장
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="div_content">
<!--     <ion-item-divider color="primary">
      언제 먹었어?
    </ion-item-divider> -->
    <ion-item>
      <ion-label color="primary">날짜</ion-label>
      <ion-datetime color="text" displayFormat="YYYY년 MM월 DD일" pickerFormat="YYYY-MM-DD" [(ngModel)]="data.date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary">시작</ion-label>
      <ion-datetime color="text" displayFormat="HH시 mm분" pickerFormat="HH:mm" [(ngModel)]="data.time" (ionChange)="dateTimeChaged()"></ion-datetime>
    </ion-item>
    <ion-item no-lines>
      <ion-label color="primary">마침</ion-label>
      <ion-datetime color="text" displayFormat="HH시 mm분" pickerFormat="HH:mm" [(ngModel)]="data.time2"></ion-datetime>
    </ion-item>
    <div class="div_full_image div_image" >
      <img [src]="displayPhoto">
    </div>
    <button ion-button full color="mint" (click)="showActionSheet($event)">
      <span *ngIf="displayPhoto === undefined || displayPhoto === null">Photo Add</span>
      <span *ngIf="displayPhoto !== undefined && displayPhoto !== null">Photo Edit</span>
    </button>
    <ion-item no-lines>
      <ion-label color="primary" stacked> 뭐 먹었어? </ion-label>
      <ion-input 
        color="text" 
        text-left
        placeholder="된장찌개, 밥 ..."
        [(ngModel)]="data.food" >
      </ion-input>
    </ion-item>
    <ion-item-divider color="primary" style="font-size: inherit;">
      배고픔의 정도는? (살빼려면 0 ~ 5 가 좋아요!)
    </ion-item-divider>
    <ion-item>
      <ion-label color="text">먹기 시작할 때</ion-label>
      <ion-select [(ngModel)]="data.full.start">
        <ion-option value="0">0 (아주 배고픔)</ion-option>
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5 (편안함)</ion-option>
        <ion-option value="6">6</ion-option>
        <ion-option value="7">7</ion-option>
        <ion-option value="8">8</ion-option>
        <ion-option value="9">9</ion-option>
        <ion-option value="10">10 (매우 배부름)</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="text">다 먹었을 때</ion-label>
      <ion-select [(ngModel)]="data.full.end">
        <ion-option value="0">0 (아주 배고픔)</ion-option>
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5 (편안함)</ion-option>
        <ion-option value="6">6</ion-option>
        <ion-option value="7">7</ion-option>
        <ion-option value="8">8</ion-option>
        <ion-option value="9">9</ion-option>
        <ion-option value="10">10 (매우 배부름)</ion-option>
      </ion-select>
    </ion-item>
    <ion-item-divider color="primary" style="font-size: inherit;">
      마인드풀 이팅
    </ion-item-divider>
    <ion-item *ngFor=" let estimation of data.estimations; let i = index ">
      <ion-label color="text">{{estimation.question}}</ion-label>
      <ion-checkbox color="primary" [(ngModel)]="estimation.answer"></ion-checkbox>
    </ion-item>
  </div>
</ion-content>