<div class="card_box">
  <div class="card_top">
    <div class="card_date">
      {{date.month}}월 {{date.date}}일 ({{date.day}}) {{date.hour}}시 {{date.minute}}분
    </div>
    <div class="card_buttons">
      <button ion-button clear item-left color="mint" (click)=" moreMenu() ">
        <ion-icon name="more"></ion-icon>
      </button>
    </div>
  </div>
  <div class="div_line" style="border-bottom-color: #efefef"></div>
  <div class="card_image" 
    [style.background-image]=" 'url(' + data.photo.url + ')' "
    [style.height]=" (data.photo && data.photo.url !== null) ? '100vw': '0px' "
    *ngIf=" data.photo !== undefined && data.photo !== null "
    >
    <!-- <img [src]="data.photo.url"> -->
  </div>
  <div class="div_content_main">
    <div class="div_content_left">
      <div class="div_title">
        <!-- <p> -->
        {{data.food}}
        <!-- </p> -->
      </div>
      <div class="div_drinking" *ngIf="data.drinking.desc !== ''">
        {{data.drinking.desc}}
      </div>
    </div>
    <div class="div_content_right">
      <div class="div_score">
        <span class="div_full_label">
          마인드풀 이팅 
        </span>
        <div class="div_full_value">
          {{estmTrueArr.length}}
          <span class="txt_gray">/</span>
          {{estimations.length}}
        </div>
      </div>
      <div class="div_line_col"></div>
      <div class="div_score">
        <span class="div_full_label">
          배고픔 정도
        </span>
        <div class="div_full_value">
          {{data.full.start}} 
          <ion-icon name="arrow-round-forward" color="text" style="opacity: 0.6"></ion-icon> 
          {{data.full.end}}
        </div>
      </div>
    </div>
  </div>
</div>