zm-calendar {
  .div_content {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .header {
    position: relative;
    height: 56px;
    width: 100%;
    margin-top: 4px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .p_date { font-size: 18px; color: map-get($colors, dark); }

/*  .div_buttons {
    position: absolute;
    right: 5px;
  }*/

  .header .btn-back,
  .header .btn-forward {
    position: absolute;
    top: 2px;
    transition: all 0.2s ease-in;
  }

  .header .btn-back {
    left: 30%;
  }
  .header .btn-forward {
    right: 30%;
  }

  .div_day_labels {
    width: 100%; 
    height: 20px; 
    display: flex; 
    flex-flow: row wrap; 
    border-bottom: 1px solid;
    border-bottom-color: #888;
    /*transition: border-bottom 1s ease;*/
  }

  .div_day_labels .day_label {
    width: calc(100% / 7);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .div_day_labels .day_label span {
    color: map-get($colors, dark); 
    opacity: 0.5; 
  }

  .div_calendar {
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
  }

  .calendar {
    width: 100%;
    height: 100%;
    transition: margin-top 0.2s ease-in;
  }

  .calendar-box  {
    width: calc(100% / 7);
    height: 100%;
    overflow: hidden;
    border-bottom: 1px solid; 
    border-bottom-color: map-get($colors, gray);
  }

  .calendar .week {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .calendar .week.week_5 {
    height: calc(100% / 5);
  }

  .calendar .week.week_6 {
    height: calc(100% / 6);
  }

  .calendar-box.empty {
    background-color: #efefef;

  }
  

  .calendar-box .day-box {
    width: 100%;
    height: 100%;
    padding: 3px 0.5px 1px 0.5px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .calendar-box.extra {
    background-color: map-get($colors, light);
  }

  .calendar-box .row-date {
    height: 16px;
    padding: 1px 5px 1px 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .calendar-box .row{
    width: 100%;
    height: 14px;
    font-size: 10px;
    color: map-get($colors, text);
    margin-bottom: 1px;
    border-radius: 7px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  .calendar-box .row .row-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .calendar-box .row .row-icon {
    position: absolute;
    right: 3px;
  }

  .calendar-box .row-left {
    width: 100%;
    padding: 1px 5px 1px 5px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .calendar-box .row-right {
    display: none;
  }

  .calendar-box .row-image {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .calendar-box .row-right button {
    width: 36px;
  }

  .calendar-box .center {
    align-items: center;
  }

  .calendar-box .row-data {
    width: 100%;
    height: calc(100% - 16px);
    top: 100%;
    margin-top: 2px;
    overflow: hidden;
  }

  .calendar-box .date {
    text-align: center;
    color: map-get($colors, text);
  }

  .calendar-box.extra .date {
    color: #aaa;
  }
  .calendar-box .date.holiday {
    color: #aaa;
  }

  .div_content.dayMode .div_day_labels {
    border-bottom: initial;
  }

  .div_content.dayMode .row-date {
    height: 30px;
  }

  .div_content.dayMode .row-date .date {
    width: 24px;
    height: 24px;
    padding-top: 3px;
    border-radius: 12px;
  }

  .div_content.dayMode .day-box.listMode .row-date .date {
    color: #fff;
    background: map-get($colors, mint);
  }


  .div_content.dayMode .calendar-box .day-box.listMode .row-data {
    display: block;
  }

  .div_content.dayMode .calendar-box .day-box .row-data {
    display: none;
  }

  .div_content.dayMode .calendar-box .day-box.listMode .row-data {
    /*border-top: 1px solid map-get($colors, light);*/
    position: absolute;
    overflow: auto;
    background: #fafafa;
    top: 36px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px 10px 10px 10px;
    transition: all 0.2s ease-in 0s;
  }

  .div_content.dayMode .calendar-box .day-box.listMode .row-data .row {
    width: 100%;
    height: 48px;
    font-size: 20px;
    border-radius: 24px;
    padding-left: 18px;
    margin-bottom: 3px;
  }

  .div_content.dayMode .calendar-box .day-box.listMode .row-data .row .row-value {
  }

  .div_content.dayMode .calendar-box.extra {
    background-color: initial;
  }

  .div_content.dayMode .calendar-box .row-left {
    width: calc(100% - 100px);
  }

  .div_content.dayMode .calendar-box .row-left .row-icon {
    position: initial;
    margin-left: 5px;
  }

  .div_content.dayMode .calendar-box .row-right {
    width: 88px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .div_content.dayMode .header .btn-back {
    left: calc(100% - 45px);
  }
  .div_content.dayMode .header .btn-forward {
    right: 9px;
  }
}