<div class="div_content" (swipe)="swipeEvent($event)" [ngClass]="{'dayMode': selectedDate !== null}">
  <div class="header">
    <p class="p_date">{{year + '.' + ((month + 1) < 10 ? '0' : '') + (month + 1)}}</p>
    <button class="btn-back" ion-button icon-only clear (click)="monthDec()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <button class="btn-forward" ion-button icon-only clear (click)="monthInc()">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>
<!--   <div class="div_buttons" [ngStyle]="{'display': selectedDate !== null ? 'block': 'none'}">
    <button ion-button icon-only clear (click)="selectedDate = null; calendarTop = 0; ">
      <ion-icon name="arrow-down"></ion-icon>
    </button>
  </div> -->
  <div class="div_day_labels">
    <div class="day_label" *ngFor=" let label of dayLabels">
      <span>{{label}}</span>
    </div>
  </div>
  <div class="div_calendar">
    <div class="calendar" [style.margin-top]="calendarTop">
      <!-- mobile에서 높이가 고정이 안되서 week로 나눔 -->
      <div class="week" [ngClass]="{'week_5': rowNum === 5, 'week_6': rowNum === 6}" *ngFor=" let week of days ">
        <zm-calendar-day 
          class="calendar-box"
          [ngClass]="{'extra': day.type === 'otherMonth'}"
          [date]="day.date"
          [dayData]="day" 
          [types]="types"
          [selectedDate]="selectedDate"
          (dayClickEvent)="selectDate($event[0], $event[1])" 
          (rowClickEvent)="selectRow($event)" 
          *ngFor=" let day of week "
        >
        </zm-calendar-day>
      </div>
    </div>
  </div>
  <!-- <div class="div_dayDetail"> -->
  <!-- </div> -->
</div>