zm-calendar {
  .div_content {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .header {
    height: 60px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .p_date {font-size: 18px; color: map-get($colors, dark); }

  .div_buttons {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .div_day_labels {
    width: 100%; 
    height: 20px; 
    display: flex; 
    flex-flow: row wrap; 
    border-bottom: 1px solid;
    border-bottom-color: #888;
    /*transition: border-bottom 1s ease;*/
  }

  .div_day_labels .day_label {
    width: calc(100% / 7);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .div_day_labels .day_label span {
    color: map-get($colors, dark); 
    opacity: 0.5; 
  }

  .div_calendar {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
  }

  .calendar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: margin-top 0.2s ease-in;
  }

  .calendar-box  {
    width: calc(100% / 7);
    overflow: hidden;
    border-bottom: 1px solid; 
    border-bottom-color: map-get($colors, gray);
  }

  .row_5 .calendar-box {
    height: calc(100% / 5);
  }

  .row_6 .calendar-box {
    height: calc(100% / 6);
  }

  .calendar-box.empty {
    background-color: #efefef;

  }
  

  .calendar-box .day-box {
    width: 100%;
    height: 100%;
    padding: 3px 1px 1px 1px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .calendar-box.extra {
    background-color: map-get($colors, light);
  }

  .calendar-box .row-date {
    padding: 1px 5px 1px 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .calendar-box .row{
    width: 100%;
    height: 14px;
    border-radius: 7px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-bottom: 1px;
  }

  .calendar-box .center {
    align-items: center;
  }

  .calendar-box .row-data {
    width: 100%;
    height: 100%;
    top: 100%;
    margin-top: 2px;
  }

  .calendar-box .left {
    align-items: left;
  }
  .calendar-box .date {
    text-align: center;
    color: map-get($colors, text);
  }

  .calendar-box.extra .date {
    color: #aaa;
  }
  .calendar-box .date.holiday {
    color: #aaa;
  }
  
  .calendar-box .row-value {
    padding: 1px 5px 1px 5px;
    margin: 0;
    color: map-get($colors, text);
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }

  .div_content.dayMode .div_day_labels {
    border-bottom: initial;
  }

  .div_content.dayMode .row.row-date {
    height: 30px;
  }

  .div_content.dayMode .row .date {
    width: 24px;
    height: 24px;
    padding-top: 3px;
    border-radius: 12px;
  }

  .div_content.dayMode .day-box.listMode .row .date {
    color: #fff;
    background: map-get($colors, mint);
  }


  .div_content.dayMode .calendar-box .day-box.listMode .row-data {
    display: block;
  }

  .div_content.dayMode .calendar-box .day-box .row-data {
    display: none;
  }

  .calendar-box .day-box.listMode .row-data {
    border-top: 1px solid #888;
    position: absolute;
    background: #fff;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px 10px 10px 10px;
    transition: all 0.2s ease-in 0s;
  }

  .calendar-box .day-box.listMode .row-data .row{
    width: 100%;
    height: 28px;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 3px;
  }

  .calendar-box .day-box.listMode .row-data .row-value{
    padding-left: 12px;
    font-size: 20px;
  }
}