zm-calendar {
  .div_content {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .header {
    height: 60px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .p_date {font-size: 18px; color: map-get($colors, dark); }
  .div_day_labels {
    width: 100%; 
    height: 20px; 
    display: flex; 
    flex-flow: row wrap; 
    border-bottom: 1px solid;
    border-bottom-color: #888;
  }

  .div_day_labels .day_label {
    width: calc(100% / 7);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .div_day_labels .day_label span {
    color: map-get($colors, dark); 
    opacity: 0.5; 
  }

  .calendar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
  }

  .calendar-box  {
    width: calc(100% / 7);
    border-bottom: 1px solid; 
    border-bottom-color: map-get($colors, gray);
  }

  .calendar-box.empty {
    background-color: #efefef;

  }
  

  .calendar-box .day-box {
    width: 100%;
    height: 100%;
    padding: 3px 1px 1px 1px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
  }

  .calendar-box.extra {
    background-color: map-get($colors, light);
  }

  .calendar-box .row-date {
    padding: 1px 5px 1px 5px;
  }

  .calendar-box .row{
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 1px;
  }
  .calendar-box .center {
    align-items: center;
  }
  .calendar-box .left {
    align-items: left;
  }
  .calendar-box .date {
    color: map-get($colors, text);
  }

  .calendar-box.extra .date {
    color: #aaa;
  }
  .calendar-box .date.holiday {
    color: #aaa;
  }
  
  .calendar-box .row-value {
    padding-left: 6px;
    padding-bottom: 2px;
    color: map-get($colors, text);
    font-size: 10px;
    overflow: hidden;
    box-sizing: border-box;
  }
}