.zm-line-chart {

  .tick line { 
    color: map-get($colors, text); 
  }
  
  .tick text { 
    color: map-get($colors, text); 
  }

  .zm-line-chart {
    position: relative;
  }
  
  .chartWrapper {
    position: absolute;
    overflow: auto;
  }

  .svg_yAxis {
    position: absolute;
  }
}