// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
  box-sizing: border-box;
}

input {
  color: map-get($colors, text);
}


.space_h-30 {width: 100%; height: 30px;}
.space_h-50 {width: 100%; height: 50px;}

.div_line {border-bottom: 1px solid map-get($colors, light); height: 1px; margin: 0px 15px 0px 15px;}
.div_line_col {border-left: 1px solid map-get($colors, light); width: 1px; height: 100%; margin: 15px 10px 15px 10px; box-sizing: initial;}


.div_image {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/aboutme-39281.appspot.com/o/assets%2Fimg%2Fno-image.png?alt=media&token=90cf2c63-b350-4f96-bcb2-37df22af1a64');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  
}
.div_full_image {
  display: flex;
  justify-content: center;
  align-items: center;
}


.div_full_image img {
  width: 100vw;
  height: 100vw;
}
ion-nav.menu-content-open .ion-page {
  opacity: 0.5;
  transition: opacity 0.5s;
}
ion-nav .ion-page {
  transition: opacity 0.5s;
}

.bar_btn_padding {margin: 2px 7px 2px 7px;}
.toolbar-title {color: map-get($colors, text);}
.datetime-text {color: map-get($colors, text); }
/*ion-nav .header .toolbar .toolbar-background {background: transparent; border-width: 0; border-style: none;};*/
/*ion-menu .header .toolbar .toolbar-background {background: map-get($colors, primary); border-width: 0; border-style: none;};*/